.task {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  width: 500px;
}

.task--title {
  flex: 1;
  padding: 0 10px;
  color: #333;
}

:hover {
  background-color: #ddd;
}

:host.selected li {
  font-weight: bold;
}
