<li class="task"
    (dblclick)="onDoubleClick()"
    (keyup.escape)="editMode.set(false)"
    tabindex="{{task().id}}"
>
  @if (editMode()) {
    <input
      class="task--title"
      type="text"
      name="taskText"
      id="taskText"
      #taskText
      [value]="task().text"
    >
    <app-button
      [appTooltip]="'Save (update) todo: ' + task().text"
      [action]="'save'"
      (click)="onSaveTask(taskText.value)"
    >
      Save
    </app-button>
  } @else {
    <input
      type="checkbox"
      name="task--status"
      [checked]="isCompleted()"
      (change)="onStatusChange($event)"
    />
    <span class="task--title">
      {{ task().text }}
    </span>
    <app-button
      [appTooltip]="'Delete todo: ' + task().text"
      [action]="'delete'"
      (click)="onDeleteTask()"
    >
      Delete
    </app-button>
  }
</li>
