<h1 class="title">Tasks list:</h1>
<main class="tasks--container">
  <section class="section--tasks">
    <app-loading-spinner class="tasks--list" [isLoading]="isLoading()">
      <ul>
        @for (task of filteredTasks(); track task.id) {
          <app-to-do-list-item
            appTooltip [tooltipText]="task.description"
            [task]="task"
            [tooltipDelayMsecs]="5000"
            [class.selected]="task.id === selectedTaskId()"
            (click)="onSelectTask(task.id)"
            (keyup.enter)="onSelectTask(task.id)"
            (deleteMe)="onDeleteTask(task.id, task.text)"
            (isStatusChanged)="onChangeTaskStatus($event)"
          />
        } @empty {
          <p class="tasks--empty">There is no active tasks!</p>
        }
      </ul>
    </app-loading-spinner>
    <app-to-do-create-item class="tasks--add" (newTaskData)="onAddTask($event)"/>
  </section>
  <section class="section--settings">
    <app-to-do-status-selector class="tasks--filter" [(selectedStatus)]="filterStatus"/>
    <textarea class="tasks-list--description">{{ selectedTaskDescription() }}</textarea>
  </section>
  <aside>
    <app-toasts/>
  </aside>
</main>
