<h1 class="title--task-list">Tasks list:</h1>
<ul class="container--task-list">
  @for (task of tasks; track task.id) {
    <li>
      <app-to-do-list-item class="container--task" [task]="task" (deletedTask)="deleteTask(task.id)"></app-to-do-list-item>
    </li>
  } @empty {
    <li class="container--no-tasks">
      <span class="title--no-tasks">There is no tasks!</span>
    </li>
  }
</ul>
<div class="container--add">
  <input class="input--add" type="text" [(ngModel)]="newTaskText" placeholder="Task text" id="new-task-text">
  <button class="button button--add" [disabled]="newTaskTextIsEmpty()" (click)="addNewTask(newTaskText())">Add</button>
</div>
