.title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid;
  padding-left: 15px;
  padding-bottom: 8px;
  letter-spacing: 0.02em;
}

.tasks--container {
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr auto;
}

.tasks--empty {
  text-align: center;
}

.tasks--list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  grid-column: 1 / 2;
}

.tasks--filter {
  grid-column: 2 / 3;
  align-items: self-start;
}

.tasks-list--description {
  margin: 15px 0 0 15px;
  height: 90%;
  min-width: 300px;
  resize: vertical;
}
