<app-loading-spinner class="tasks--list" [isLoading]="isLoading()">
  <ul>
    @for (task of filteredTasks(); track task.id) {
      <app-to-do-list-item
        [appTooltip]="task.description" [appTooltipDelayMsecs]="5000"
        [task]="task"
        [class.selected]="task.id === selectedTaskId()"
        (click)="onSelectTask(task.id)"
        (keyup.enter)="onSelectTask(task.id)"
        (deleteMe)="onDeleteTask(task.id, task.text)"
        (isStatusChanged)="onChangeTaskStatus($event)"
      />
    } @empty {
      <p class="tasks--empty">There is no active tasks!</p>
    }
  </ul>
</app-loading-spinner>
