.button {
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button--add {
  background-color: #2a3;
  height: 55px;
  width: 80px;
}

.button--add:hover {
  background-color: #253;
}

.button--add:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button--delete {
  background-color: #e00;
}

.button--delete:hover {
  background-color: #900;
}

.button--save {
  background-color: #2a3;
  width: 80px;
}

.button--save:hover {
  background-color: #253;
}

.button--save:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
